<figure class="appearance">
  <img class="appearance__illustration" alt="Illustration pokemon bulbizarre" src="assets/img/IMG_0372.jpeg"/>
  <figcaption class="appearance__caption">Pokémon eau. Taille :1,05m, poids : Unknow </figcaption>
</figure>