<div class="identity">
  <p class="identity__type">Pokémon de base</p>
  <div class="identity pokemon">
    <p class="pokemon__name">Buretti</p>
    <div class="pokemon__points">
     <p class="pokemon__pv">PV 160</p>
     <div class="pokemon__logo">
      <img alt="logo feuille verte" src="assets/img/eau.png" />
     </div>
    </div>
  </div>
</div>