<div class="skills">
  <div class="skills__type">
    <img alt="logo feuille verte" src="assets/img/eau.png" />
    <img alt="logo feuille verte" src="assets/img/eau.png" />
  </div>
  <div class="skills__attack"> <strong>Doigt humide</strong> Buretti introduit un doigt mouillé dans un orifice facial. Cette attaque repousse l'enemi pendant quelques secondes  </div>
  <div class="skills__points">30</div>
</div>
